

/* ---  =====  Full page inicio(sección2)   =====  --- */
.header_wrapper{
    background: url("../img/home.jpg") no-repeat center top;
    background-position: center center;
    min-height:40vW;
    background-size:cover;
}

.vertical_center{
    min-height: 40vw;
    display:flex;
    align-items: center;
}

