/* ---  =====  Estilo General   =====  --- */
body {
    overflow-x: hidden;
}
/*MARGIN*/
.margin-top-bot{
    margin-bottom: 15px;
    margin-top: 15px;
}
/*FONT COLOR*/
.f-white{
    color:white;
}
.f-black{
    color:black;
}
.f-yelow{
    color:yellow;
}
.f-greylight{
    color:#949494;
}
/*BACKGROUND COLOR*/
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: #091d48;
}
/*FONT WEIGHT(GROSOR)*/
.bold {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}
/*FONT SIZE(TAMAÑO)*/
.f-big {
    font-size: 4vw
}

.f-middle {
    font-size: 5vh
}

.f-small {
    font-weight: 1vw
}
.f-min{
    font-size: 10px;
}
    /* ---  =====  Navbar(sección1)   =====  --- */

/* ---  =====  Full page inicio(sección2)   =====  --- */

/* ---  =====  Oferta de viajes (sección3)   =====  --- */

/* ---  =====  ¿Quienes somos? (sección4)   =====  --- */

/* ---  =====  Formulario+Mapa (Sección 5)   =====  --- */

#seccion{

}

/* --- Columna del Mapa  --- */
.mapa{
    /*Contenedor mapa*/
    min-height: 70vh;
    padding-left: 9vh;
}
.iframe{
    /*Mapa*/
    width: 90%;
    height: 95%;
}
/*  --- Columna del Formulario  ---  */
.line-blue{
    background-color: #689AFE;
    height: 0.2vh;
    margin: 0 0 40px 0;
}

/*---  =====  Footer (sección6)  =====  ---*/

#msg{
    width: 90%;
}
#suscribete{
    height: 6%;
}

