/* ---  =====  Estilo General   =====  --- */
body {
    overflow-x: hidden;
}
/*MARGIN*/
.margin-top-bot{
    margin-bottom: 15px;
    margin-top: 15px;
}
/*FONT COLOR*/
.f-white{
    color:white;
}
.f-black{
    color:black;
}
.f-yelow{
    color:yellow;
}
.f-greylight{
    color:#949494;
}
/*BACKGROUND COLOR*/
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: #091d48;
}
/*FONT WEIGHT(GROSOR)*/
.bold {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}

/*FONT SIZE(TAMAÑO)*/
.f-big {
    font-size: 4vw
}

.f-middle {
    font-size: 5vh
}

.f-small {
    font-size: 12px;
}
.f-min{
    font-size: 10px;
}
/* ---  =====  Navbar(sección1)   =====  --- */
.menu_wrapper{
    width: 80vW;
}

.navbar{
    background-color: rgb(255,255,255);
}

a{
    color: black;
}

a:link, a:hover{
    color:black;
}

/* ---  =====  Full page inicio(sección2)   =====  --- */
.header_wrapper{
    background: url("../img/home.jpg") no-repeat center top;
    background-position: center center;
    min-height:40vW;
    background-size:cover;
}

.vertical_center{
    min-height: 40vw;
    display:flex;
    align-items: center;
}


/* ---  =====   Sección de Viajes (sección3)   =====  --- */

/* ---  =====  ¿Quienes somos? (sección4)   =====  --- */

/* ---  =====  Formulario+Mapa (Sección 5)   =====  --- */

#seccion{

}

/* --- Columna del Mapa  --- */
.map{
    /*Contenedor mapa*/
    min-height: 60vh;
    border:0;

}

/*  --- Columna del Formulario  ---  */
.line-blue{
    background-color: #689AFE;
    height: 0.2vh;
    margin: 0 0 40px 0;
}
.cajaFormulario{
    min-height: 70vh;
}

/*---  =====  Footer (sección6)  =====  ---*/
.fot{
    padding: 30px;
}
.line-footer {
    background-color: #000000;
    height: 0.1vh;
    margin: 0 0 40px 0;
}
#msg{
    width: 90%;
}
#suscribete{
    height: 6%;
}

